// .upload-drop-box {
//   height: 120px;
//   width: 100%;
//   border: 2px solid $light-gray;
//   border-radius: 4px;
// }
.drag-shadow {
  background: $primary;
  box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.2);
}


.upload-drop-box {
  border: 2px dashed rgba(var(--body),0.3);
  transition: all 350ms ease-in-out;
}

.upload-drop-box:hover {
  background: rgba(var(--body), 0.2) !important;
}