.MuiButton-startIcon {
    margin-right: 4px !important;
}
  
.MuiDialogTitle-root {
    background: #eae8e8
}

.MuiFormHelperText-contained {
    margin-left: 4px !important;
    margin-right: 4px !important;
}